@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "_variables.scss";

header {
  @include w-h(100%, 100vh);
  background-color: #eff0f2;
  @include flex(flex, column, center, center);
  position: relative;
}

.header-title {
  @include text(Montserrat, 45px, #505050, 1.4em, 700);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2em;
  padding: 80px 10px 0 10px;
  letter-spacing: 1.2px;
  text-shadow: 0.15em 0.15em 8px rgba(122, 122, 122, 0.5);

  /*Сдвиг тени вправо, сдвиг тени вниз, размытие тени, цвет(прозрачность)*/
  span {
    background-color: #b2f2ee;
    padding: 4px 8px;
  }
}

.button-wrapper {
  @include w-h(100%, 250px);
  @include flex(flex, column, center, center);
}

.header-button {
  @include w-h(225px, 50px);
  @include btn (2px solid #777879, none, transparent, pointer);
  @include text(Montserrat, 18px, #505050, none, 400);
  letter-spacing: 1.2px;
  outline: none;

  &:hover {
    background-color: #b2f2ee;
  }
}

.logo {
  position: absolute;
  top: 63px;
  left: 150px;
}

.glass {
  position: absolute;
  right: 245px;
  bottom: 134px;
}

.title-block {
  @include w-h(100%, auto);
  padding-top: 130px;

  h2 {
    @include text(Montserrat, 38px, #323333, 1.5em, 700);
    text-align: center;
    text-transform: uppercase;
  }

  p {
    @include text(Merriweather, 18px, #848585, none, 400);
    text-align: center;
    text-transform: uppercase;
  }
}

.about-block-wrapper {
  @include w-h(100%, 985px);
  background-color: #f8fafaff;
}

.about-us {
  @include w-h(1140px, auto);
  display: flex;
  margin: 0 auto;
}

.about-us-left {
  @include w-h(50%, auto);
  padding-top: 143px;
}

/*---------------Slider----------------without use JS*/
.wrap {
  height: 488px;
  position: relative;
  width: 400px;

  &:before {
    content: "";
    height: 410px;
    width: 480px;
    background: #e6e8eb;
    position: absolute;
    top: 37px;
    left: -40px;
  }
}

.wrap>input {
  display: none;
}

.slider {
  background-color: #333; //задает темный цвет при переключении
  height: inherit;
  overflow: hidden; //при пркрутке убирает углы переключающихся слайдов
  position: relative;
  width: inherit;
  box-shadow: 1px -3px 14px 3px rgba(0, 0, 0, 0.15);
}

.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
}

.img1 {
  background-image: url(../img/careers.png);
  background-size: cover;
  background-position: center;
}

.img2 {
  background-image: url(../img/blog.png);
}

.img3 {
  background-image: url(../img/home.png);
  background-size: cover;
  background-position: center;
}

.img4 {
  background-image: url(../img/comp.png);
  background-position: center;
}

.wrap .control {
  position: absolute;
  margin-left: -50px;
  left: 50%;
}

.wrap label {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 30px 1px;
  position: relative;
  width: 12px;
  border-radius: 30%;
  background-color: #d0d0d0;
}

#point1:checked~.control label:nth-of-type(1),
#point2:checked~.control label:nth-of-type(2),
#point3:checked~.control label:nth-of-type(3),
#point4:checked~.control label:nth-of-type(4) {
  background: #71f6eb;
}

#point1:checked~.slider>.img1,
#point2:checked~.slider>.img2,
#point3:checked~.slider>.img3,
#point4:checked~.slider>.img4 {
  opacity: 1;
  z-index: 1;
}

.slides {
  transform: rotate(55deg);
  transition: 1s;
}

#point1:checked~.slider>.img1,
#point2:checked~.slider>.img2,
#point3:checked~.slider>.img3,
#point4:checked~.slider>.img4 {
  opacity: 1;
  z-index: 1;
  transform: none;
}

/*---------------Slider end-------------------*/

.about-us-right {
  @include w-h(46%, auto);
  padding-top: 143px;

  h3 {
    @include text(Merriweather, 20px, #646565, none, 700);
    text-transform: uppercase;
  }

  p {
    @include text(Raleway, 16px, #929393, 1.7em, 400);
    letter-spacing: 2px;
    padding-top: 34px;
  }
}

.padding-top47 {
  padding-top: 47px;
}

.future-works-wrapper {
  width: 1140px;
  min-height: 840px;
  padding-top: 123px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 375px 375px 375px;
  grid-template-rows: 360px 360px;
  grid-gap: 15px;
}

.our-works1 {
  background: url(../img/banner1.png) center no-repeat;
  background-size: cover;
}

.our-works2 {
  background: url(../img/banner2.png) center no-repeat;
  background-size: cover;
}

.our-works3 {
  background: url(../img/banner3.png) center no-repeat;
  background-size: cover;
}

.our-works4 {
  background: url(../img/banner4.png) center no-repeat;
  background-size: cover;
}

.our-works5 {
  background: url(../img/banner5.png) center no-repeat;
  background-size: cover;
}

.our-works6 {
  background: url(../img/banner6.png) center no-repeat;
  background-size: cover;
}

.services-wrapp {
  width: 100%;
  min-height: auto;
  padding-bottom: 120px;
  background-color: #f9fbfb;
}

.service-bloks {
  width: 1140px;
  display: grid;
  margin: 0 auto;
  grid-gap: 15px;
  padding-top: 125px;
  grid-template-columns: 5fr 2fr 5fr;
  grid-template-rows: 420px 370px 370px;
}

.service-section {
  background-size: cover !important;
  position: relative;

  &:hover {
    &:before {
      opacity: 0.75;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #08090e;
    opacity: .60;
    transition: opacity .5s ease;
  }

  &:nth-child(1) {
    grid-column: 1/3;
  }

  &:nth-child(3) {
    grid-column: 1/3
  }

  &:nth-child(6) {
    grid-column: 2/4;
  }
}

.text-servise-block-wrapper {
  width: 65%;
  height: 100%;
  padding-left: 70px;
  display: grid;
  align-content: end;

  h3 {
    @include text(Merriweather, 20px, #f9f9f9, 3em, 700);
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  p {
    @include text(Raleway, 16px, #f9f9f9, 1.5em, 400);
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
  }

  a {
    @include text(Raleway, 17px, #f9f9f9, 6.5em, 400);
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.our-team {
  @extend .service-bloks;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 440px 440px;
  padding-bottom: 120px;
}

.team-member {
  background-size: cover !important;
  position: relative;

  &:hover {
    .hidden {
      opacity: 1;
      transition: .5s;
    }
  }
}

.hidden {
  width: 90%;
  height: 255px;
  background: #6ff5ea;
  position: relative;
  top: 160px;
  left: 20px;
  opacity: 0;
  transition: .5s;

  &:before {
    content: "";
    width: 0;
    height: 0;
    right: 80%;
    top: -20px;
    position: absolute;
    border-bottom: 22px solid #6ff5ea;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }
}

.hidden-text-wrapper {
  padding-top: 20px;
  padding-left: 40px;
  width: 80%;

  h4 {
    @include text(Merriweather, 20px, #2c3a38, 3.5em, 700);

    span {
      @include text(Merriweather, 17px, #758b89, 1.5em, 400);
      font-style: italic;
    }
  }

  p {
    @include text(Raleway, 16px, #225450, 1.5em, 400);
    padding-right: 20px;
  }

  ul {
    display: flex;
    padding-top: 38px;

    li {
      padding-right: 12px;
    }
  }
}

.review-block-wrapp {
  width: 100%;
  height: auto;
  background-color: #f9fbfb;
}

.review-blocks {
  width: 1140px;
  height: 740px;
  @include flex(flex, row, space-between, center);
  margin: 0 auto;
}

.review-block-left {
  width: 40%;
}

/*---------------Slider----------------without use JS*/
.wrap-slider-2 {
  height: 488px;
  position: relative;
  width: 400px;

  &:before {
    content: "";
    height: 410px;
    width: 480px;
    background: #e6e8eb;
    position: absolute;
    top: 37px;
    left: -40px;
  }
}

.wrap-slider-2>input {
  display: none;
}

.slider {
  background-color: #333; //задает темный цвет при переключении
  height: inherit;
  overflow: hidden; //при пркрутке убирает углы переключающихся слайдов
  position: relative;
  width: inherit;
  box-shadow: 1px -3px 14px 3px rgba(0, 0, 0, 0.15);
}

.slides-2 {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
}

.img5 {
  background-image: url(../img/team2.png);
  background-size: cover;
  background-position: center;
}

.img6 {
  background-image: url(../img/team4.png);
  background-size: cover;
  background-position: center;
}

.img7 {
  background-image: url(../img/team3.png);
  background-size: cover;
  background-position: center;
}

.img8 {
  background-image: url(../img/team5.png);
  background-size: cover;
  background-position: center;
}

.wrap-slider-2 .control {
  position: absolute;
  margin-left: -50px;
  left: 50%;
}

.wrap-slider-2 label {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 30px 1px;
  position: relative;
  width: 12px;
  border-radius: 30%;
  background-color: #d0d0d0;
}

#point5:checked~.control label:nth-of-type(1),
#point6:checked~.control label:nth-of-type(2),
#point7:checked~.control label:nth-of-type(3),
#point8:checked~.control label:nth-of-type(4) {
  background: #71f6eb;
}

#point5:checked~.slider>.img5,
#point6:checked~.slider>.img6,
#point7:checked~.slider>.img7,
#point8:checked~.slider>.img8 {
  opacity: 1;
  z-index: 1;
}

.slides-2 {
  transform: rotate(55deg);
  transition: 1s;
}

#point5:checked~.slider>.img5,
#point6:checked~.slider>.img6,
#point7:checked~.slider>.img7,
#point8:checked~.slider>.img8 {
  opacity: 1;
  z-index: 1;
  transform: none;
}

/*---------------Slider end-------------------*/
.review-block-right {
  width: 55%;
  height: auto;
  position: relative;
}

.carousel-content {
  width: 100%;
  height: 395px !important;
  background-color: #eaebed;
  text-align: center;

  h4 {
    @include text(Merriweather, 20px, #2c3a38, 3.5em, 700);
    padding-top: 90px;

    span {
      @include text(Merriweather, 17px, #758b89, 1.5em, 400);
      font-style: italic;
    }
  }

  p {
    @include text(Raleway, 16px, #225450, 1.5em, 400);
    padding-bottom: 40px;
    width: 74%;
    margin: 0 auto;
  }
}

.stars {
  @include flex(flex, row, center, center);

  li {
    padding: 0 4px 0 4px;
  }
}

.prev {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 10px 1px 33px -14px rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: -80px;
  right: 80px;
  cursor: pointer;
  background: url(../img/left.png) no-repeat center;
  z-index: 1;

  &:focus {
    background: url(../img/right-2.png) no-repeat center;
    background-color: #71f6eb;
    transition: .9s;
  }
}

.next {
  @extend .prev;
  right: 0px;
  background: url(../img/left-2.png) no-repeat center;

  &:focus {
    background: url(../img/right.png) no-repeat center;
    background-color: #71f6eb;
  }
}

.background-block {
  background: url(../img/bg-i.png) no-repeat center;
  background-size: 110%;
  width: 100%;
  height: 715px;
}

.form-map-wrapper {
  width: 1140px;
  height: 467px;
  margin: 0 auto;
  padding-top: 130px;
  @include flex(flex, row, none, none);
}

form {
  width: 616px;
  height: 467px;
  padding-left: 50px;
  @include flex(flex, column, none, none);
  background-color: rgba(2, 22, 35, 0.71);

  label {
    @include text(Raleway, 16px, #c5cacd, 1.5em, 400);
    padding-top: 30px;
  }

  input {
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #c5cacd;
    outline: none;
    @include text(Raleway, 16px, #c5cacd, none, 400);

    &:focus {
      border: 1px solid #c5cacd;
    }
  }

  textarea {
    @include text(Raleway, 16px, #c5cacd, none, 400);
    width: 90%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #c5cacd;

    &:focus {
      border: 1px solid #c5cacd;
    }
  }
}

.button-form {
  @include btn (none, none, #6eeee4, pointer);
  @include text(Montserrat, 18px, #2e6b66, none, 400);
  letter-spacing: 2px;
  width: 246px;
  height: 52px;
  margin-top: 35px;
}

.map-adress {
  width: 500px;
  height: 467px;
  background-color: rgba(2, 22, 35, 0.71);
  margin-left: 25px;

  ul {
    @include text(Raleway, 15px, #c5cacd, 1.5em, 400);
    padding-top: 30px;
    padding-left: 30px;

    li a {
      @include text(Raleway, 15px, #c5cacd, 1.5em, 400);
      text-decoration: none;
    }
  }
}

.emai-adresses {
  padding-left: 30px;
  padding-top: 40px;

  a {
    @include text(Raleway, 15px, #c5cacd, 1.5em, 400);
    text-decoration: none;
    display: block;
  }
}

.map {
  width: 450px;
  height: 225px;
  padding: 22px;
}

footer {
  width: 100%;
  height: 312px;
  background-color: #262b2e;
  @include flex(flex, column, center, center);

  h4 {
    @include text(Raleway, 16px, #c5cacd, 1.5em, 400);
    padding-bottom: 14px;
  }

  p {
    @include text(Raleway, 16px, #c5cacd, 1.5em, 400);
    padding: 30px 20px 0 20px;
    text-align: center;
  }

  ul {
    @include flex(flex, row, center, center);
  }
}

.link-footer-1 {
  display: block;
  width: 41px;
  height: 41px;
  background: url(../img/pin-fot-1.png) no-repeat center;
  background-color: #424648;
  text-align: center;
  margin: 0 8px;
  line-height: 50px;

  &:hover {
    line-height: 50px;
    background: url(../img/pin-fot-2.png) no-repeat center;
    background-color: #71f6eb;
    transition: .5s;
    cursor: pointer;
  }
}

.link-footer-2 {
  @extend .link-footer-1;
  background: url(../img/fb-fot-1.png) no-repeat center;
  background-color: #424648;

  &:hover {
    background: url(../img/fb-fot-2.png) no-repeat center;
    background-color: #71f6eb;
  }
}

.link-footer-3 {
  @extend .link-footer-2;
  background: url(../img/twit-fot-1.png) no-repeat center;
  background-color: #424648;

  &:hover {
    background: url(../img/twit-fot-2.png) no-repeat center;
    background-color: #71f6eb;
  }
}

.link-footer-4 {
  @extend .link-footer-2;
  background: url(../img/drr-fot-1.png) no-repeat center;
  background-color: #424648;

  &:hover {
    background: url(../img/drr-fot-2.png) no-repeat center;
    background-color: #71f6eb;
  }
}


// Кнопка вверх
.btn-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #929393;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 5px;
  opacity: 0.7;
}

.btn-top:hover {
  background-color: #71f5ea;
}


//заставка при загрузке страницы
#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #021623;
  z-index: 30;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -205px;
  margin-top: -150px;
  text-align: center;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 200px;
  height: 200px;
  background: url(../img/ball-triangle.svg) center center no-repeat;
  background-size: 200px;
  margin: -16px 0 0 -16px;
}